@{
    ViewBag.Title = "devloper";
    Layout = "~/Views/Shared/general.cshtml";
}
<style>
        .head {
        min-height:50px;
        background:url('../Content/images/b6.jpg');
        background-attachment:fixed;
    }
    .head1 {
        min-height:50px;
        background:rgba(0,0,0,.65);
        color:white;
        text-align:center;
        font-size:25px;
        padding-top:0.5%;
    }
    .img img {
        min-height:200px;
        margin-top:10%;
        border:1px solid transparent;
        border-radius:50%;
    }
    .info {
        min-height:200px;
        margin-top:5%;
        margin-bottom:5%;
    }
    p {
        font-size:25px;
        color:#941111;
    }
    .info span {
        font-size:20px;
    }
   .img a {
        text-decoration-line:none;
        text-decoration:none;
    }
    .img .fa {
        font-size:25px;
        color:#941111;
    }
</style>
<div class="col-sm-12 head">
<div class="row">
    <div class="col-sm-12 head1">DEVLOPER <span style="color:red;">INFO</span></div>   
</div>
</div>
<div class="col-sm-12">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" style="margin-top:1%; margin-bottom:1%; background:gray;">
        <div class="col-sm-12">
            <div class="col-sm-4 img" style="text-align:center;">
                <img src="~/Content/images/devloper.jpg" height="200px" width="200px"/>
                <div style="margin-top:5%; text-align:center;">
                    <a href="facebook.com/gauravkkush" class="fa fa-facebook-square"></a>
                    <a href="instagram.com/gauravkkush"class="fa fa-instagram"></a>
                    <a href="twitter.com/gauravkkush" class="fa fa-twitter-square"></a>
                    <a href="github.com/gauravkkush" class="fa fa-github-square"></a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="col-sm-12  info">
                    <div>
                        <p>Name:</p><span>Gaurav Kushwaha</span>
                    </div>
                    <div>
                        <p>Branch:</p><span>Computer Science And Engineering</span>
                    </div>
                    <div>
                        <p>Technology:</p><span>Microsoft .NET Framework(MVC)</span>
                    </div>
                    <div>
                        <p>College:</p><span>Government Polytechnic Shahjahanpur</span>
                    </div>
                    <div>
                        <p>E-mail:</p><span>kkushgaurav@gmail.com</span>
                    </div>
                    <div>
                        <p>Mobile:</p><span>+91 9565848460, 7007862795</span>
                    </div>
                    <div>
                        <p>Address:</p><span>265, Village & Post- Garhiya Rangeen, Shahjahanpur-242303</span>
                    </div>
            </div>
            </div>
            
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>